.data-card{
  height: 100%;
  width: 96%;
  margin: 1em auto;
}


table{
  width: 100%;

}

.example-full-width {
  width: 100%;
}

.assigned
{

  background-color: orange;
  color:black;
  padding: 5px;
  border-radius: 5px;

}

.closed{

  background-color: green;
  color:black;
  padding: 5px;
  border-radius: 5px;
}
